*{
	margin: 0%;
	padding: 0%;
	

}



 .site header{
	
	height: 100px;
	max-width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
    color: #FFFFFF;
	background-color: #D095C0;
	padding: 0 10px;
}

.site header h1{
	color: #002AFF;
	text-decoration: underline;
	font-weight: 200;
    cursor: pointer;
}

.site header i{
	font-size: 30px;
	cursor: pointer;

}

.contain{
	
	margin-top: 7px;
	height: 540px;
	max-width: 100vw;
    background-image: url(./images/img2.jpg);
	background-size: cover;
	background-position: center;
}


.left{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 538px;
	max-width: 48vw;
	border: 2px solid black;

}

.left .songnames{
	border: 2px solid white;
    position: absolute;
	margin-top: 3px;
	margin-left: -250px;
	height: 450px;
	width: 300px;
	


}

.left .songnames h2{
	color: #18CB15;
	margin-left: 70px;
	margin-top: 10px;
}
.left .songnames h3{
	color: #FFFFFF;
	margin-left: 20px;
	margin-top: 10px;
}

.left .song-img{
	
    position: absolute;
	border: 2px solid black;
	height: 200px;
	width: 200px;
	margin-left: 370px;
	margin-bottom: 250px;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	border-radius: 40px;

}

.left .song-img img{
	border-radius: 40px;
	height: 200px;
	width: 200px;
	cursor: pointer;
}

.left .range{
	position: absolute;
	margin-left: 370px;
    border-radius: 5px;
    margin-top: 200px;
    cursor: pointer;

}


.left .range input{
	width: 270px;
	border-radius: 5px;
	cursor: pointer;
}

.left .playpause{
	position: absolute;
	width: 200px;
	color: white;
	margin-left: 420px;
	margin-top: 280px;
    

}
.left .playpause i{
    
	padding: 0 10px;
	font-size: 28px;
	cursor: pointer;


}

.left .valume{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 340px;
	margin-top: 100px;
}

.left .valume i{
	color: white;
	padding: 10px;
	font-size: 28px;
	cursor: pointer;
}

.left .valume input{
	cursor: pointer;
	}

.right{
	display: flex;
	position: absolute;
	top: 107px;
	left: 653px;
	border: 2px solid black;
	height: 538px;
	width: 50vw;

}

.right .bar{
	display:flex;
	align-items:center;
	justify-content:center;
	/*background-image: url(./images/gif);*/
	background-size: cover;
	background-position: center;
	
}

.right .bar img{
    margin-top: 400px;
	margin-left: -270px;
	height: 28px;
	width: 200px;
	background: transparent;
	display: none;
}

















